{{>layout/header}}
<h1 class="d-inline-flex p-2">스프링부트로 시작하는 웹 서비스 Ver.2</h1>
    <button type="button" class="btn btn-dark btn-lg ml-5 d-inline-flex p-2">Dark</button>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#username}}
                Logged in as: <span id="user">{{username}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a><!--스프링 시큐리티에서 별도로 제공하는 로그아웃url, 컨트롤러 지정할 필요없음-->
            {{/username}}
            {{^username}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
            {{/username}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}} <!-- java의 for와 같은 문법. posts라는 List를 순회한다. -->
            <tr>
                <td><a href="/posts/update/{{id}}">{{id}}</a></td> <!-- List에서 뽑아낸 객체의 ID필드를 사용 -->
                <td><a href="/posts/update/{{id}}">{{title}}</a></td><!-- List에서 뽑아낸 객체의 title 필드를 사용 -->
                <td><a  href="/users/posts/{{author}}">{{author}}</a></td><!-- List에서 뽑아낸 객체의 author 필드를 사용 -->
                <td>{{modifiedDate}}</td><!-- List에서 뽑아낸 객체의 modifiedDate 필드를 사용 -->
            </tr>
        {{/posts}} <!--posts 순회가 끝나는 부분. -->
        </tbody>
    </table>
</div>
{{>layout/footer}}
